#Result{
    display: none;
    margin-left: 25%;
    margin-bottom: 5%;
    width: fit-content;
    font-size: larger;
    padding: 40px;
    padding-bottom: 10px;
    border: 2px solid rgb(00, 80, 80);  
    width: 400px;
    height: 70%;
}

#ResultA{
    display: none;
    margin-left: 25%;
    margin-bottom: 5%;
    width: fit-content;
    font-size: larger;
    padding: 40px;
    padding-bottom: 10px;
    border: 2px solid rgb(00, 80, 80);  
    width: 400px;
    height: 70%;
}
#ResultT{
    display: none;
    margin-left: 25%;
    margin-bottom: 5%;
    width: fit-content;
    font-size: larger;
    padding: 40px;
    padding-bottom: 10px;
    border: 2px solid rgb(00, 80, 80);  
    width: 400px;
    height: 70%;
}


#Result #Check, #Add, #Take,#Addnum, #Store tr {
    margin: 60px;
}

#error{
    margin-left: 40%; 
    position:absolute;
    top:70%;
    color: rgb(201, 34, 16);
    
}
#Check, #Add, #Take,#Addnum, #Store{
    display: none;
    margin-left: 25%;
    width: fit-content;
    font-size: larger;
    padding: 40px;
    border: 2px solid rgb(00, 80, 80);  
    width: 400px;
}

#main{
    border: 2px solid rgb(201, 34, 16);
    min-height: 70%;
    width: 100%;
    font-size: larger;
}
#main #menu{
    border: 2px solid rgb(201, 34, 16);
    width: 30%;
    margin-left: 10%;
    text-align: center;
    background-color: rgb(00, 80, 80);  

}

table{
    font-size: larger;
}



