#Results{
    display:none;
}
 #Tr{
    display: none;
    margin-left: 25%;
    width: fit-content;
    font-size: larger;
    padding: 40px;
    border: 2px solid rgb(00, 80, 80);  
    width: 400px;
}
#Emp{
    display: none;
    margin-left: 30%;
    width: fit-content;
    font-size: larger;
    padding: 40px;
    margin-bottom: 0%;
    border: 2px solid rgb(00, 80, 80);  
    width: 400px;
}
#Check, #Add, #Take,#Addnum, #Store,#newEmp, #Tr{
    display: none;
    margin-left: 25%;
    width: fit-content;
    font-size: larger;
    padding: 40px;
    border: 2px solid rgb(00, 80, 80);  
    width: 400px;
}



#Tresult{
    display: none;
    width:fit-content;
    font-size: larger;
    height: 70%;
    margin-left: 1%;
    justify-content: space-between;
}
#Tresult table{
    width:90%;
}
#Tresult table td{
    width: 20%;
}





