#storeResult, #Tresult{
    display: none;
    width: fit-content;
    font-size: larger;
    width: 100%;
    height: 70%;
    margin-left: 1%;
}
#storeResult table{
    width: 30%;
    height: 50%;
    padding-bottom: 10px;
    margin-right: 10%;
    border: 2px solid black;
}
#Tr{
    display: none;
    margin-left: 25%;
    width: fit-content;
    font-size: larger;
    padding: 40px;
    border: 2px solid rgb(00, 80, 80);  
    width: 400px;
}
